@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,body{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    overflow-x: hidden !important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  background: #f3f3ef;
    font-family: 'Raleway', sans-serif;

}

.header {
    width: 100%;
    position: fixed;
    padding: 1rem 4rem;
    z-index: 10;
    top: 0%;
    display: flex;
    animation: top 2s ease forwards;
    background: #ffffff49;
    min-height:60px; 
    backdrop-filter: 5px;
    justify-content: space-between;
    left: 0rem;
    min-height:70px; 
}

.header a img{
    width: 150px;
}


li{
    list-style: none;
}
.nav{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -10000px;
    z-index: 88;
    backdrop-filter: blur(5px);
    background-color: #f3f3ef;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ;
}
.nav img{
    width: 200px;
    margin-top: 20px;
    transform: translateY(-700px);
    margin-left: 20px;
}
.nav.navopen{
    left: 0px;
}
.navopen .li1{
    transform: translateX(-700px);
    text-align: center;
    opacity: 0;
    width: 100%;
    padding: 10px 20px;
}
.navopen .li2{
    transform: translateX(700px);
    text-align: center;
    opacity: 0;
    width: 100%;
    padding: 10px 20px;
}
.navopen .li3{
    transform: translateY(-700px);
    text-align: center;
    opacity: 0;
    width: 100%;
    padding: 10px 20px;
}

.close-icon{
    position: absolute;
    top: 45px;
    font-size: 30px;
    color: #000000;
    cursor: pointer;
    right: 40px;
}
.menu-icon{
    cursor: pointer;
    font-size: 30px;
    color: #000;
}
.nav ul{
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 90px;
}
.nav ul li a{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
font-weight: 500;
text-transform: capitalize;
position: relative;
}
ul li a::after{
    content: '';
    position: absolute;
    width: 0%;
    border-radius: 20px;
    height: 3px;
    bottom: -6px;
    left: 0;
    background: rgb(0, 0, 0);
    transition: all 0.5s ease;
}
.nav ul li a:hover::after{
    width: 100%;
}
.nav ul li a.active::after,
.nav ul li a.active{
    font-weight: bold;
    width: 100%;
}
.nav ul li a:hover{
    font-weight: bold;
}

.about-sec1{
    margin-top: 5rem;
    padding: 5rem 3rem;
    text-align: center;
}
.about-sec1 h1{
    font-size: 50px;
    font-weight: 600;
    animation: right 1s ease forwards;
    padding: 20px 0;
}
.about-sec1-main{
    width: 100%;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
}
.about-sec1-img{
    width: 80%;
    margin: 0 auto;
    height: 70%;
    animation: left 1s ease forwards;
    padding: 7px 0;
    box-shadow:  0 5px 15px rgba(0,0,0,.35);
    border-radius: 10px;
}
section::after{
    width: 0px !important;
}
.about-sec1 div img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.about-sec1-text{
    width: 70%;
    padding: 20px 4px;
}
.ab1-p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateY(200px);
}

/* ----- about section 2  */

.about-sec2{
        padding: 5rem 3rem;
        text-align: center;
}
section h1{
    text-align: center;
    font-size: 50px;
}
.sec2ab-h1{
    opacity: 0;
}

.ab-sec2-main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.col-sec2{
    flex: 1;
    display: flex;
    gap: 30px;
    opacity: 0;
    transform: translateY(300px);
    flex-direction: column;
    align-items: flex-start;
}
.col-sec2 h5{
    font-size: 18px;
}
.col-sec2 p{
    text-align: start;
    font-size: 14px;
}
.col-sec2 ol{
    text-align: start;
    padding: 0 30px;
}
.col-sec2 ol li{
    font-size: 14px;
    margin-bottom: 4px;
    list-style: decimal;
}

/* ---- about sec 3 ------  */
.about-sec3{
    padding: 5rem 3rem;
    /* text-align: ; */
}
.main-3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
    height: 100%;
    transform: translateX(-700px);
    opacity: 0;
    flex-wrap: wrap;
}
.main3-col{
    width: 320px;
    padding: 10px;
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
    background: #ffffff1a;
    box-shadow: 1px 1px 10px .3px #0000014f;
    text-align: center;
    backdrop-filter: 20px;
    cursor: pointer;
    transition: all 0.6s ease;

}
.main3-col:hover{
    transform: scale(1.1) !important;
}
.main3-col h4{
    font-size: 24px;
    margin-bottom: 10px;
}
.main3-col p{
    color: #222222b1;
    text-align: left;
    letter-spacing: 1px;
    font-size: 14px;
}
.main3-col img{
   width: 100%;
   margin-top: -100px;
   height: 100%;
   object-fit: cover;
}
.main3-col .img2{
    margin-top: -120px;
}

/* ---- about sec 4 ------  */
  .About-sec4{
    width: 100%;
    height: 100 auto;
    padding: 2rem 3rem;
    text-align: center;
  }

  .About-sec4 h3{
    font-size: 33px;
    margin: 30px 0;
    font-weight: 500;
  }
  .sec3ab-h3{
    opacity: 0;
  }
  .main-about-4{
    display: flex;
    opacity: 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  .main-about-4 img{
    width: 250px;
    height: auto;
  }

  /* -------  section 5   */
  .sec-5{
    padding: 5rem 3rem;
    text-align: center;
  }

  .sec-5 h1{
    font-size: 80px;
    text-transform: uppercase;
    line-height: 100px;
  }
  .sec5abh1{
    opacity: 0;
  }
  .btn{
    padding: 13px 35px;
    background: transparent;
    border: 2px solid rgb(0, 46, 196);
    border-radius: 30px;
    margin: 40px 0;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    opacity: 0;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
.btn::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: -2000px;
    z-index: -1;
    transition: all 0.8s ease-in-out;

    background-color: rgb(0, 0, 0);
  }
  .btn:hover::after{
    left: 0;
  }
  .btn:hover{
    color: #fff;
  }


  /* -------- about footer   */

  .footer{
    text-align: center;
    padding: 5rem 3rem;
    background-color: #7ecd94;
  }
  .footer h1{
    font-size: 120px;
    letter-spacing: 1px;
    padding-top: 40px;
  }

  .main-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-icons a{
    display: block;
  }
.footer-icons i{
    font-size: 30px;
    color: #000;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}
.footer-icons i:hover{
    transform: scale(1.1);
    color: #00154f;
}
  .details{
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: #000000;
}
.details a{
    color: #000000;
    text-decoration: none;
   
}
.details div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: start;
}
.details div p{
    font-size: 16px;
    letter-spacing: 0.5px;

}
.details i{
    color: rgb(24, 24, 21);
    font-size: 20px;
}
.detail-h5{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

/* ++++++++++++++++++++++++++++++ Protfolio page  +++++++++++ */

.prot-sec1{
    margin-top: 5rem;
    padding: 5rem 3rem;
    text-align: center;
}
.prot-sec1 h1{
    font-size: 100px;
    font-weight: 600;
    padding: 20px 0;
    animation: left 2s ease forwards !important;
}

/* ---- portfolio -sec  */
.main-prot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
    height: 100%;
    gap: 40px;
}
.prot-col{
    flex: 1;
    
}
.prot-col3{
    transform: translateX(-600px);
}
.prot-col4{
    transform: translateX(600px);
}
.prot-col .prot-img{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.6s ease;
    height: 60vh;
  
}
.prot-col .prot-img:hover{
    box-shadow: 0 0 15px 1px #00000080;
}
.prot-img img{
    width: 100%;
    object-fit: cover;
    object-position:center;
    height: 100%;
}
.prot-text{
    margin-top: 20px;
    text-align: left;
    padding-left: 10px;
}
.prot-text a{
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.let-art-text{
    opacity: 0;
}
.prot-text p{
    margin-top: 5px;
    color: #000;
    font-size: 14px;
    letter-spacing: 0.5px;
}


@keyframes left {
    0%{
        transform: translateX(-2000px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes right {
    0%{
        transform: translateX(2000px);
    }
    100%{
        transform: translateX(0px);
    }
}




/* ------- Contact ++++++  */

.sub-btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #000000;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    letter-spacing: 0.4px;
    background: #000000;
    font-weight: 500;
    transition: all 0.5s;
}
.sub-btn:hover{
    border: 1px solid #fdbb0f;
    background: #fdbb0f;
}

.loader{
    text-align: center;
    font-size: 20px;
    color: #000;
    display: none;
    letter-spacing: 0.5px;
}
.contact{
    width: 70%;
    margin: 0 auto;
    backdrop-filter: blur(20px);
    padding: 30px 60px;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    background-color: #0000000e;
    margin-top: 20px;
    color: #ffffff;
}


select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select::after{
    content: '\25B6';
    position: absolute;
    top: 50%;
    background: #fff;
    right: 10px;
    color: #fff;
    transform: translateY(-50%);
    pointer-events: none;
}
.contact h4{
    font-size: 40px;
    color: #000;
    margin: 30px 0;
}

.span-div{
    width: 100%;
    height: 10px;
    /* background: #000;  */
    position: relative;
}
form input,select, form textarea{
    width: 100%;
    border: 0;
    position: relative;
    outline: none;
    background-color: #262626; 
    color: #fff;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
    resize: none;
}
.contact span{
    font-size: 40px;

    top: -5px;
    z-index: 5;
    display: block;
    position: absolute;
    color: #ff0000;
    right: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.start-staker{
    width: 100px;
    height: 130px !important;
     min-height: 20px !important;
     /* transform: rotate(10deg); */
      position: absolute; 
      top: -50px;
    object-fit: cover; 
    right: 100px;
}